h1{
    color:darkorange;
    font-family: "Impact";
    text-align: center;
    background-color: aquamarine;
    
}

p{
    font-size: 25px;
    font-weight: bold:
}

body{
    background-image: url("../images/1000132645_naito.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


























