
h1{
    color:honeydew;
    text-align: center;
    background-color: black;
    
}


h2{
    color:black;
    text-align: center;
    background-color:aquamarine;
    
}

h4{
     color:rebeccapurple;
    
    
}

p{
    
     color:darkseagreen;
    
    
    
    
}


body{
    background-image: url("../images/8c68ad706ed922a0aa1f205fb845d492_s.jpg");
    
    background-attachment: fixed;
    background-position: center;
}













